@import "definitions";

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $color-black;
  font-family: $ff-heebo;

  // Normalize font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media print {
    background-color: $color-white;
  }
}

@page {
  margin: 0;
}
