.container {
  width: r(800);
  max-width: 100%;
  padding-left: r(16);
  padding-right: r(16);
  margin-left: auto;
  margin-right: auto;

  @include screen-up(M) {
    padding-left: r(24);
    padding-right: r(24);
  }
}
